.chat-area
  .area-header
    .area-header__1-box
      %p.area-header__1-box__current-group
        test
      %ul.area-header__1-box__menber-name
        menber:test
    .area-header__edit-btn
      =link_to "#" do
        Edit
  .area-message
    .area-message__2-box
      %p.area-message__2-box__user-name
        testman
      %p.area-message__2-box__time
        2019/12/26(thu) 12:00
    %p.area-message__text
      hellow
    .area-message__2-box
      %p.area-message__2-box__user-name
        testman2
      %p.area-message__2-box__time
        2019/12/27(fri) 12:00
    %p.area-message__text
      night
  .area-form
    .area-form__3-box
      .area-form__3-box__text
        %label{class: "area-form__3-box__text__image"}
          = icon('fas', 'image')
          %input{type: "file"}
    .area-form__send-btn
      Send