.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__name
        test
      %ul.side-header__box__icon
        %li.side-header__box__edit
          = link_to "#" do
            = icon('fas', 'edit', class: "edit__btn")
        %li.side-header__box__group
          = link_to "#" do
            = icon('fas', 'cog', class: "cog__btn")
  .group-bar
    .group
      %p.group-name
        test
      %p.group-message
        test
      %p.group-name
        test2
      %p.group-message
        test2

